// fonts
$fontMain: 'Edu SA Beginner', 'Calibri', sans-serif;
$fontTitle: 'Caveat', 'calibri', sans-serif;
$fontButton: 'Edu SA Beginner', 'Calibri', sans-serif;


$color-secondary: #999;  /* este color se está usando en el footer */
