@use '../core/variables' as vars;

.page__footer {
    background-color: rgba(148, 211, 148, 0.945);
    display: flex;
    justify-content: space-between;
    align-items: center;

        .footer-icon {
            width: 40px;
            background:none;
            border: none;
            border-radius: 15px;
        }

        .footer-title {
            font-family: vars.$fontTitle;
            font-size: 30px;
            font-weight: 900;
        }

        .brand {
            font-size: 12px;
            font-weight: 600;
        }

}