@use '../core/variables' as vars;



body {
    padding: 2rem;
    height: 100%;
    font-family: vars.$fontMain;
    overflow-x: hidden;


    
    .form-section {
        display: flex;
        justify-content: center;

        form {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 25px;;
       
            .form-section_search-input {
                width: 60%;
                border-radius: 7px;
                padding: 4px;
            }
            .form-section_search-btn  {
                padding: 7px;
                background-color: rgb(61, 162, 61);
                color: white;
                font-weight: 500;
                border-radius: 7px;
                font-family: vars.$fontButton;
            }
        }
    }
    
    .message {
        display: flex;
        justify-content: center;

        .not-available {
            font-size: 30px;
            font-weight: 800;
            
        }
    }

    .product-content {
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        padding-bottom: 60px;

        .anchor {
            position: fixed;
            transform: translateY(200%);
            font-size: 30px;
        }

        .product-section {
            width: 100%;
       
            .product-section_list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                gap: 40px;
                padding: 20px;
                width: 70%;
                
                .card-container {
                    padding: 20px;
                            
                    .card-image {
                        width: 40%;
                    }
                    .card-title {
                        padding: 20px 50px 0 50px;
                        color: rgb(110, 109, 109);
                        font-weight: 600;
                    }
                    .card-price {
                        color: rgb(76, 75, 75);
                        font-weight: 600;
                    }
                    .card-button {
                        margin-top: 10px;
                        padding: 8px;
                        border-radius: 7px;
                        background-color: rgb(61, 162, 61);
                        color: white;
                        font-weight: 600;
                        font-family: vars.$fontButton;
                    }

                    .delete-button-card {
                        background-color: rgba(61, 162, 61, 0.596);
                        color: rgba(0, 0, 0, 0.623);
                    }
                }
            }
        }
    .aside {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 40px;
        background-color: rgba(237, 234, 234, 0.9);
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50vw;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;

            .aside-text {
                padding-top: 20px;
                font-size: 20px;
                font-weight: 800;
                text-align: center;
            }
            .total {
                font-size: 15px;
            }
            .delete-all-select-prod {
                width: 50%;
                font-size: 15px;
                background-color: rgb(61, 162, 61);
                border-radius: 7px;
                color:white;
                font-weight: 600;
                font-family: vars.$fontButton;

                               
            }
            .select-product {
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding: 20px;
                height:75%;
                font-size: 12px;
                overflow-y: auto;

                
                .select-card {
                    width: 50%;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                        
                    img {
                        width: 100%;
                        height: auto;
                        padding: 0 15px;
                    }
                    .remove-to-select {
                        background-color:rgba(237, 234, 234, 0.768);
                        border: none;
                        width: 50px;
                        margin-left: 70px;
                    }
                    .counter-container {
                        display: flex;
                        gap: 5px;
                        padding-top: 7px;
                        
                        .count-button {
                            font-size: 10px;
                            width: 20px;
                            font-weight: 900;
                            
                        }
                    }

                }
            }
    }
    .aside-visible {
        transform: translateX(0);
    }
        .alt-aside {
            display: block;
            position: fixed;
            top: 255px;
            left: 25px;
            text-align: right;
            .button-cart {
                display: flex;
                border-radius: 50px;
                width: 50px;
                height: 50px;
                padding: 0;
                border: none;
                justify-content: center;
                align-items: center;
                background-color: rgba(61, 162, 61, 0.596);
                    .cart-shop {
                        width: 80%;
                        height: 80%;
                        padding: 0;
                        margin: 0;    
                        object-fit: cover;   
                    }
            }
        }
    
    }


    @media screen and (min-width: 700px) {
    .product-content{   
        flex-direction: row-reverse;
        align-items: stretch; 
        gap: 20px;

        .alt-aside {
            display: none;
        }
        .aside {
            position: relative;
            transform: none;
            visibility: visible;
            z-index: 0;
            width: 40%;  
            min-width: 250px;     
            padding: 30px; 
            justify-content: flex-start;
            align-items: center;
            background-color: white;
                .select-product {
                    background-color: white;
                    .select-card {
                        .remove-to-select {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}
