@use '../core/variables' as vars;

body {
    padding: 2rem;
    height: 100vh;
    font-family: vars.$font-main;
    
    .product-content {
        display: flex;
        flex-direction: row-reverse;
        align-items: start;

        .product-section {
            width: 100%;
       
            .product-section_list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                gap: 40px;
                padding: 20px;
                width: 70%;
                
                .card-container {
                    padding: 20px;
                            
                    .card-image {
                        width: 40%;
                    }
                    .card-title {
                        padding: 20px 50px 0 50px;
                        color: rgb(110, 109, 109);
                        font-weight: 600;
                    }
                    .card-price {
                        color: rgb(76, 75, 75);
                        font-weight: 600;
                    }
                    .card-button {
                        margin-top: 10px;
                        padding: 8px;
                        border-radius: 7px;
                        background-color: rgb(61, 162, 61);
                        color: white;
                        font-weight: 600;
                    }
                }
            }
        }
    .aside {
        display: flex;
        flex-direction: column;
        gap: 20px;

            .aside-text {
                padding-top: 20px;
                font-size: 20px;
                font-weight: 800;
                text-align: start;
            }

            .select-product {
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding: 20px;
                font-size: 12px;
                
                .select-card {
                    width: 50%;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                        
                    img {
                        width: 100%;
                        height: auto;
                        padding: 15px;
                    }
                }
            }
    }
    
    }
}


@media screen and (min-width: 700px) {
    
    .product-content {
        .aside {
            display: flex;
            width: 40%;
        }
        .product-section {
            width: 60%;
        }
    }

    
}