<main class="page__main">
    
    <section class="form-section">
        <form action="./" method="get">
            <input type="text" name="search-input" id="search-input" class="form-section_search-input" placeholder="Example: Women" />
            <button type="submit" class="form-section_search-btn" title="Buscar">Find</button>
            <button type="submit" class="form-section_search-btn" title="Actualizar">↩</button>
        </form>
    </section>
    
    <div class="message">
        <p class="not-available"></p>
    </div>
    
    <div class="product-content">
        <section class="product-section">
            <ul class="product-section_list"></ul>
        </section>
        <div class="anchor">
            <a href="#start" title="Ir arriba">☝️</a>
        </div>
        
        
        <aside class="aside">
            <p class="aside-text">Carrito de compra</p>
            <div class="total"></div>
            <button class="delete-all-select-prod">Vaciar carrito</button>
            <ul class="select-product"></ul>
        </aside>
        <div class="alt-aside">
            <button type="button" title="Mostrar carrito" class="button-cart">
                <img src="./images/shopping-cart.png" alt="carrito de compra" class="cart-shop">
            </button>
        </div>
    </div>

</main>

